<p-dialog header="{{'page.category.dialog.delete.title' | transloco}}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">

    <p class="mb-2">
        @if(categories.length === 1) {
            {{ 'page.category.dialog.delete.message.singular' | transloco }}
        } @else {
            {{ 'page.category.dialog.delete.message.plural' | transloco }}
        }
    </p>

    <ul class="list-disc ml-6 mb-4">
        @for (category of categories; track category.categoryId) {
            <li>{{ category.name }}</li>
        }
    </ul>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="onCancel()" />
        <p-button label="Delete" severity="danger" (click)="onDelete()" />
    </div>

</p-dialog>